@model ApplicationCore.Models.PlaceUpdateModel

@{
    ViewData["Title"] = "UpdatePlace";
}

<h1>Update Existed Place</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlaceName" class="control-label"></label>
                (please enter existed place name)
                <input asp-for="PlaceName" class="form-control" />
                <span asp-validation-for="PlaceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceNewName" class="control-label"></label>
                <input asp-for="PlaceNewName" class="form-control" />
                <span asp-validation-for="PlaceNewName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Homepage</a>
</div>